/* #region common */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion common*/
/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.haeder-conteiner {
  display: flex;

  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-black {
  color: #2e2f42;
}
.logo-white {
  color: #f4f4fd;
}
.header-logo {
  padding: 16px 0;
}
.nav-list {
  display: none;
}
.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.nav-studio {
  color: #404bbf;
}

.nav-link::after,
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.nav-studio::after {
  opacity: 1;
}
.address {
  display: none;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}
.address-link {
  color: #434455;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.menu-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.menu-icon {
  display: block;
  fill: #2f2f37;
}
/* #region mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.btn-close-menu {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  border-radius: 50%;
  background-color: #e7e9fc 0.1;
  border: 1px solid #2e2f42 0.1;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-close-menu {
  fill: #2e2f42;
}
.nav-mob-menu {
  margin-bottom: auto;
}
.link-nav-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-nav-menu:hover,
.link-nav-menu:focus,
.link-nav-menu.nav-studio-menu {
  color: #404bbf;
}
.item-nav-menu:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-address {
  margin-bottom: 48px;
}
.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-tel {
  color: #4d5ae5;
}
.mob-address-link:hover,
.mob-address-link:focus. {
  color: #4d5ae5;
}
.item-mob-adress:not(:last-child) {
  margin-bottom: 24px;
}
.social-list-menu {
  display: flex;
  gap: 40px;
}
/* #endregion mobile menu */
/* #endregion header*/
/* #region hero*/
.hero-section {
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  max-width: 320px;

  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bckgr-images/320-people-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 72px;
  padding-bottom: 72px;
}

.hero-title {
  font-weight: 700;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* #endregion hero*/
/* #region advantages section*/
.advantages-section {
  padding-top: 96px;
  padding-bottom: 76px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.adv-div {
  display: none;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion advantages*/
/* #region team section*/
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-div {
  padding: 32px 16px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
}
.team-social {
  fill: #f4f4fd;
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}
.team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion team*/
/* #region portfolio section*/
.portfolio-section {
  padding-top: 116px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.portfolio-picture {
  width: 288px;
  height: 280px;
}
.portfolio-div {
  padding: 32px 16px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
}

.overlay-div {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* #endregion portfolio*/
/* #region footer*/
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-container {
  margin-bottom: 72px;
}

.text-social {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 72px;
}
.footer-item {
  width: 40px;
  height: 40px;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-subscr {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscr-mail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.subscr-input {
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  color: #fff;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscr-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.subscr-input:hover,
.subscr-input:focus {
  border: 1px solid #404bbf;
}

.subscr-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-subscr {
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-subscr:hover,
.btn-subscr:focus {
  background-color: #404bbf;
}
.footer-svg {
  fill: #fff;
  margin-left: 16px;
}

/* #endregion footer end*/
/* #region modal*/

.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 288px;
  min-height: 623px;
  /* width: 408px;
  min-height: 584px; */
  transform: translate(-50%, -50%);

  /* padding: 72px 24px 24px 24px; */
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.close-modal {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
  background-color: #404bbf;
  border: none;
}
.close-modal:hover .svg-close,
.close-modal:focus .svg-close {
  fill: #fff;
}
.svg-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-form {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-element label {
  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}

.form-svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-element input {
  border: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-element input:focus {
  border: 1px solid #4d5ae5;
}

.form-element input:focus + svg {
  fill: #4d5ae5;
}
.textarea-div {
  margin-bottom: 16px;
}
.textarea-comments {
  border: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comments:focus {
  border: 1px solid #4d5ae5;
}
.textarea-comments::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.answer-field {
  margin-bottom: 24px;
}
.answer-span {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden:checked + .answer-label .answer-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.answer-label {
  display: flex;
  align-items: center;
}
.answer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.answer-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-modal {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover,
.btn-modal:focus {
  background-color: #404bbf;
}

/*#endregion modal*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu {
    display: none;
  }
  .menu-btn {
    display: none;
  }
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .address {
    display: contents;
    font-style: normal;
  }
  .hero-section {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bckgr-images/768-people-1x.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .advantages-section {
    padding-bottom: 96px;
  }
  .advantages-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-section {
    padding-top: 96px;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .portfolio-picture {
    width: 356px;
    height: 300px;
  }
  .footer-div {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .logo-footer {
    display: inline-block;
  }
  .footer-container {
    margin-right: 24px;
  }

  .subscr-text {
    text-align: start;
  }
  .subscr-mail {
    flex-direction: row;
    gap: 24px;
  }
  .subscr-input {
    width: 264px;
  }
  .text-social {
    text-align: start;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-logo {
    margin-right: 76px;
    padding: 24px 0;
  }
  .nav-list {
    gap: 40px;
  }
  .address {
    margin-left: auto;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .hero-section {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bckgr-images/1158-people-1x.jpg);
  }

  .advantages-section {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }
  .adv-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }
  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }

  .advantages-text {
    font-weight: 400;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-picture {
    width: 360px;
    height: 300px;
  }
  .portfolio-div {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-div {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .logo-footer {
    display: inline-block;
  }
  .footer-container {
    margin-right: 120px;
  }
  .footer-subscr {
    margin-left: auto;
  }
  .text-social {
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-section > .container {
    max-width: 552px;
  }
  .footer > .container {
    max-width: 552px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bckgr-images/320-people-2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bckgr-images/768-people-2x.jpg);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bckgr-images/1158-people-2x.jpg);
  }
}
